@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: rgb(26, 25, 25);
}

::-webkit-scrollbar-thumb {
    background: #ff00bf;
    border-radius: 100vw;
    box-shadow: inset 0 0 0.5em #ff00bf, 0 0 0.5em #ff00bf, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #9c0075;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background: url(img/backgruond/224212\ \(1\).jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    scroll-snap-align: center;
}

.home-page {
    height: 100vh;
}

header {
    background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .logo a .logo-Lamborghini {
    width: 55px;
    transition: 0.7s ease;
    animation: change 13s infinite ease-in-out;
}

@keyframes change {
    0% {
        content: url(img/Logo/logo-car-2.png);
    }
    20% {
        content: url(img/Logo/logo-car-3.png);
    }
    40% {
        content: url(img/Logo/logo-car-4.png);
    }
    60% {
        content: url(img/Logo/logo-car-5.png);
    }
    80% {
        content: url(img/Logo/logo-car.png);
    }
    100% {
        content: url(img/Logo/logo-car-2.png);
    }
}

header .logo a .logo-Lamborghini:hover {
    transform: scale(1.2);
}

header .logo a h3 {
    display: inline;
    color: rgb(255, 209, 2);
    position: absolute;
    padding-top: 15px;
    font-weight: 700;
    font-size: 1.3em;
    font-family: 'Caveat', cursive;
}

header .logo a h3:hover {
    color: #d4ad11;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff9100, 0 0 80px #ff9100, 0 0 120px #ff9100, 0 0 160px #ff9100;
}

header a {
    text-decoration: none;
    color: #ffcc00;
    padding-left: 10px;
    font-size: 1.25em;
    transition: 0.3s ease;
}

.nav-a {
    font-size: 1.5em;
    padding: 12px;
}

header .nav a:hover {
    color: #ffbb00;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff9100, 0 0 80px #ff9100, 0 0 120px #ff9100, 0 0 160px #ff9100;
}

.Buy {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Buy .name-car {
    color: goldenrod;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff9100, 0 0 80px #ff9100, 0 0 120px #ff9100, 0 0 160px #ff9100;
}

.Buy p {
    color: black;
    font-weight: 700;
    font-size: 1.7em;
    font-family: 'Caveat', cursive;
}

.Buy p span {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 10px #26ff00, 0 0 20px #26ff00, 0 0 40px #26ff00, 0 0 80px #26ff00, 0 0 120px #26ff00, 0 0 160px #26ff00;
}

.Buy button {
    margin-top: 40px;
    border: 0;
    font-size: 2em;
    border-radius: 10px;
    background-color: #ff00bf;
    transition: 0.7s ease;
    padding: 13px;
    color: #26ff00;
    cursor: pointer;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em #ff00bf, 0 0 0.5em #ff00bf, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}

.Buy button:hover {
    transform: scale(1.2);
    background-color: #d500a0;
}

.player {
    width: 640px;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
    margin-top: -95px;
    margin-left: 10px;
}

.control,
#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: wheat;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#current {
    text-align: right;
}

.bar {
    --space: -4px;
    background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}

#progress {
    display: block;
    width: var(--progress, 0%);
    background-color: #d500a0;
    box-shadow: inset 0 0 0.5em #ff00bf, 0 0 1.5em #ff00bf, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
    transition: all 1s linear;
    height: 100%;
}

.home-car {
    display: flex;
    height: 100vh;
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    box-shadow: inset 0 0 0.5em #d500a0, 0 0 1.5em #d500a0, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
    scroll-snap-align: center;
}

.Product .car {
    overflow: hidden;
    width: 120em;
}

.Product .car figure {
    position: relative;
    width: 500%;
    left: 0;
    animation: 15s infinite slider;
}

.Product .car figure img {
    width: 20%;
    float: left;
    margin: 250px 0 0 0;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.home-car .description {
    display: inline;
    border: black solid 2px;
    width: 100%;
    height: 35em;
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 40px;
    box-shadow: 0 10px 35px rgb(22, 21, 21);
    border-radius: 15px;
}

.home-car .description h1 {
    padding: 1.3em 0 1.3em 3.6em;
    font-size: 2.5em;
    color: #eec81b;
    text-shadow: 0 0 10px #eec81b, 0 0 20px #eec81b, 0 0 40px #eec81b, 0 0 80px #eec81b, 0 0 120px #eec81b;
}

.home-car .description h1 span {
    color: #f7f7f7;
    text-shadow: 0 0 10px #cacaca, 0 0 20px #cacaca, 0 0 40px #cacaca, 0 0 80px #cacaca, 0 0 120px #cacaca;
    animation: 1s infinite Huracan;
}

@keyframes Huracan {
    0% {
        color: #313131;
        text-shadow: 0 0 10px #232323, 0 0 20px #232323, 0 0 40px #232323, 0 0 80px #232323, 0 0 120px #232323;
    }

    50% {
        color: #f7f7f7;
        text-shadow: 0 0 10px #cacaca, 0 0 20px #cacaca, 0 0 40px #cacaca, 0 0 80px #cacaca, 0 0 120px #cacaca;
    }

    100% {
        color: #313131;
        text-shadow: 0 0 10px #232323, 0 0 20px #232323, 0 0 40px #232323, 0 0 80px #232323, 0 0 120px #232323;
    }
}

.home-car .description h3 {
    font-size: 1.4em;
    width: 77%;
    margin-left: 4em;
    color: white;
    transition: 0.7s ease;
}

.home-car .description h3:hover {
    text-shadow: 0 0 10px white, 0 0 17px white;
}

.home-car .description .D2 {
    width: 75%;
    margin: 20px auto;
}

.home-car .description .D2 h2 {
    display: flex;
    color: #26ff00;
    font-size: 2.3em;
    margin: 30px 0 0 20px;
    text-shadow: 0 0 10px #26ff00, 0 0 20px #26ff00, 0 0 40px #26ff00, 0 0 80px #26ff00, 0 0 120px #26ff00;
}

.buy_star {
    display: flex;
    justify-content: space-between;
}

.home-car .description .D2 a {
    margin: 50px 0 0 0;
}

.home-car .description .D2 a button {
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: #9250fc;
    box-shadow: 0 0 10px #8a43fd, 0 0 20px #8a43fd, 0 0 40px #8a43fd, 0 0 80px #8a43fd;
    transition: 0.7s ease;
}

.home-car .description .D2 a button:hover {
    background-color: #7928fc;
    transform: scale(1.1);
    box-shadow: 0 0 10px #7928fc, 0 0 20px #7928fc, 0 0 40px #7928fc, 0 0 80px #7928fc, 0 0 120px #7928fc;
}

.star {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    padding-right: 15px;
}

.fa-star,
.fa-star-half {
    color: yellow;
    text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 40px #ffff00, 0 0 80px #ffff00, 0 0 120px #ffff00;
    font-size: 2.3em;
}

#car-2 {
    scroll-snap-align: center;
    background: hsla(333, 100%, 53%, 1);

    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    box-shadow: inset 0 0 0.5em #f58c36, 0 0 1.5em #f58c36, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}

.car-3 {
    scroll-snap-align: center;
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    box-shadow: inset 0 0 0.5em #67dff9, 0 0 1.5em #67dff9, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}

#car-4 {
    scroll-snap-align: center;
    background: hsla(33, 100%, 53%, 1);

    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    box-shadow: inset 0 0 0.5em #fbe262, 0 0 1.5em #fbe262, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}

#car-4 h1 {
    color: #ffa500;
    text-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 80px #ffa500, 0 0 120px #ffa500; 
}

#car-5 {
    scroll-snap-align: center;
    background: hsla(339, 100%, 55%, 1);

    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    box-shadow: inset 0 0 0.5em #4ec2fa, 0 0 1.5em #4ec2fa, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
    }