@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: none; 
}

::-webkit-scrollbar-thumb {
    background: #ff00bf;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #9c0075;
}

body {
    background: url(img/224212\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header{
    background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .logo .logo-img{
    width: 55px;
    transition: 0.7s ease;
}

header .logo .logo-img:hover {
    transform: scale(1.2);
}

header .logo a h3{
    display: inline;
    color: rgb(255, 209, 2);
    position: absolute;
    padding-top: 15px;
    font-weight: 700;
    font-size: 1.3em;
    font-family: 'Caveat', cursive;
}


header .logo a h3:hover{
    color: #d4ad11;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff9100, 0 0 80px #ff9100, 0 0 120px #ff9100, 0 0 160px #ff9100;
}

header a{
    text-decoration: none;
    color: #ffcc00;
    padding-left: 10px;
    font-size: 1.25em;
    transition: 0.3s ease;
}

.nav-a {
    font-size: 1.5em;
    padding: 12px;
}

header .nav a:hover{
    color: #ffbb00;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff9100, 0 0 80px #ff9100, 0 0 120px #ff9100 , 0 0 160px #ff9100;
}

.Buy {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Buy .name-car {
    color: goldenrod;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff9100, 0 0 80px #ff9100, 0 0 120px #ff9100 , 0 0 160px #ff9100;
}

.Buy p {
    color: black;
    font-weight: 700;
    font-size: 1.7em;
    font-family: 'Caveat', cursive;
}

.Buy p span {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 10px #26ff00, 0 0 20px #26ff00, 0 0 40px #26ff00, 0 0 80px #26ff00, 0 0 120px #26ff00 , 0 0 160px #26ff00;
}

.Buy button {
    margin-top: 40px;
    border: 0;
    font-size: 2em;
    border-radius: 10px;
    background-color: #ff00bf;
    transition: 0.7s ease;
    padding: 13px;
    color: #26ff00;
    cursor: pointer;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em #ff00bf, 0 0 0.5em #ff00bf, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}

.Buy button:hover {
    transform: scale(1.2);
    background-color: #d500a0;
}

.player {
    width: 640px;
    display: grid;
    grid-template-columns: 48px 1fr  48px;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
    margin-top: -95px;
    margin-left: 10px;
}

.control,#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
} 

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: wheat;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#current {
    text-align: right;
}

.bar {
    --space: -4px;
    background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}

#progress {
    display: block;
    width: var(--progress,0%);
    background-color: #d500a0;
    box-shadow: inset 0 0 0.5em #ff00bf, 0 0 1.5em #ff00bf, 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
    transition: all 1s linear;
    height: 100%;
}